body {
  max-width: 960px;
  min-height: 600px;
  margin: 10px auto;
  border: 1px black solid;
  font-family: 'Helvetica', sans-serif;
}

header {
  margin-left: 10px;
}

main {
  margin-left: 25px;
}
